.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  border-radius: 50%;

  border: 3px solid var(--color-border-default);
  border-top-color: var(--color-primary);

  animation: rotate 0.8s linear infinite;
}

.sm {
  width: 20px;
  height: 20px;
}

.md {
  width: 32px;
  height: 32px;
}

.lg {
  width: 48px;
  height: 48px;
}