.section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.title {
  margin: 0;

  color: var(--color-text-primary);

  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);

  line-height: 1.4;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}